@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
  --primary-color: #000080;
  --text-color: #3f3f3f;
  --bg-color: #e6e6e6;
  --bg-card-color: #fafafa;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}

body.dark {
  --text-color : #d4d4d4;
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0,0%,20%);
  transition: var(--transition);
}

.nav {
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

.bg-cards {
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

html,body {
    padding: 0;
    margin: 0;
}

* {
  box-sizing: border-box;
}


html::-webkit-scrollbar {
    /* width: 50px;     Tamaño del scroll en vertical
    height: 50px;    Tamaño del scroll en horizontal */
    display: none;  /*Ocultar scroll*/
}